[Unit]
Description=Solana System Tuner
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
LogRateLimitIntervalSec=0
ExecStart=/home/sol/.local/share/solana/install/active_release/bin/solana-sys-tuner --user sol

[Install]
WantedBy=multi-user.target
